<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>autoFirst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>880400701BEA35F000E3AE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>880400891BEA35F000E3AE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>880400941BEA35F000E3AE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
